/* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('%open-sans-v14-latin-regular.eot%'); /* IE9 Compat Modes */
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
        url('%open-sans-v14-latin-regular.eot?#iefix%') format('embedded-opentype'), /* IE6-IE8 */
        url('%open-sans-v14-latin-regular.woff2%') format('woff2'), /* Super Modern Browsers */
        url('%open-sans-v14-latin-regular.woff%') format('woff'), /* Modern Browsers */
        url('%open-sans-v14-latin-regular.ttf%') format('truetype'), /* Safari, Android, iOS */
        url('%open-sans-v14-latin-regular.svg#OpenSans%') format('svg'); /* Legacy iOS */
}

.wrapper-tree{
    max-width:15%;
    float: left;
    display: none;
}
.wrapper-tree th + th {
    width: auto;
}

.wrapper-listing{
    max-width: 60%
}

tr {
    height: 40px;
}

.indexcolname a {
    word-break: break-word;
}

span.clear {
    clear: both;
}

.focused .selected {
    outline: rgb(77, 144, 254) auto 5px;
}