@import url('style_apaxy.css');

/* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'),
        url('fonts/open-sans-v13-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('fonts/open-sans-v13-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.wrapper-tree{
    max-width:15%;
    float: left;
    display: none;
}
.wrapper-tree th + th {
    width: auto;
}

.wrapper-listing{
    max-width: 60%
}

tr {
    height: 40px;
}

.indexcolname a {
    word-break: break-word;
}

span.clear {
    clear: both;
}

.focused .selected {
    outline: rgb(77, 144, 254) auto 5px;
}